.hero-container {
  background:linear-gradient(to right, #f8f9fa, #acd2f0);
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 60px 0;

  
}

.text-section {
  animation: slideFadeIn 1.2s ease forwards;
}

.intro-text {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.intro-text .name {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dev-title {
  font-size: 2rem;
  font-weight: 600;
  color: #00c6ff;
  margin-bottom: 20px;
}

.tagline {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-button {
   background: linear-gradient(to right, #0d6efd, #6610f2);
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
  color: white;
  box-shadow: 0 0 10px rgba(0, 198, 255, 0.5);
}

.cta-button:hover {
  background-color: #0072ff;
  transform: scale(1.05);
}

.image-section {
  text-align: center;
}

.dev-image {
  max-width: 60%;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
} */

@media (max-width: 768px) {
  .intro-text {
    font-size: 2.2rem;
    text-align: center;
  }

  .dev-title,
  .tagline {
    text-align: center;
  }

  .text-section {
    text-align: center;
    margin-bottom: 30px;
  }

  .image-section {
    margin-top: 20px;
  }
}
.image-section {
  text-align: center;
}

.dev-image {
  max-width: 60%;
  height: auto;
  /* animation: float 4s ease-in-out infinite; */
  border-radius:50%;
   background:linear-gradient(to right, #f8f9fa, #acd2f0);
}
